/* You can add global styles to this file, and also import other style files */
@import 'mixin';

* {
  box-sizing: border-box;
}

:root {
  --secondary: #34495e;
  --success: #27ae60;
  --info: #2980b9;
  --text-default: #ccc;
  --dark: #2d3436;
  --grey: #e1e1e1;
  --white: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: monospace;
  background-color: var(--grey);
}

.container {
  height: 100%;
}

input {
  @include border-radius(5px);
  padding: 1rem 0.5rem;
  border: none;
  background-color: var(--white);
  color: var(--dark);
}

button {
  border: none;
  color: #ccc;
  padding: 0.5rem 2rem;
  @include border-radius(5px);
  cursor: pointer;

  &.success {
    background-color: var(--success);
  }

  &.info {
    background-color: var(--info);
  }

  &:disabled {
    background: grey;
    cursor: not-allowed;
  }
}

.titleElipsis {
    font-size: 0.8rem;
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.gameImage {
  border-radius: 15px;
  overflow: hidden;
  display: inline-block;
  img {
    width: 100%;
    height: 100%;
  }
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container, #body-modal {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container, #body-modal {
    width: 65%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container, #body-modal {
    width: 55%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container, #body-modal {
    width: 45%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container, #body-modal {
    width: 35%;
  }
}



::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}